@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased;
}

.glass-card {
    @apply bg-slate-800/50 backdrop-blur-xl border border-white/10 rounded-3xl p-6 shadow-2xl;
}
